<section style="display: flex; flex-direction: row; gap: 0.5rem">
  @for (player of players; track player.username) {
    <div style="display: flex;flex-direction: column; gap: 0.5rem">
      <span>{{player.username}}</span>
      <span>Current money: {{player.stack}}$</span>
      <span>Current pot: {{player.pot}}</span>
    </div>
  }
</section>
<section style="display: flex; flex-direction: row; gap: 0.5rem">
  @for (card of board; track card.rank + card.suit) {
    <app-playing-card-wrapper style="width: 10rem" [rank]="card.rank" [suit]="card.suit"></app-playing-card-wrapper>
  }
</section>
<div style="flex-grow: 100"></div>
<section style="flex-grow: 0">
  <button mat-button>Fold</button>
  <button mat-button>Check</button>
  <button mat-button>Call</button>
  <button mat-button>Bet</button>
  <mat-slider [min]="0" [max]="360">
    <input matSliderThumb value="0">
  </mat-slider>
  <mat-form-field>
    <mat-label>Your bet</mat-label>
    <input matInput value="50">
  </mat-form-field>
</section>
