.actions-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}

.filters-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
}

.lobby-container {
  max-width: 60rem;
  margin: auto;
}
