<div style="display: flex; flex-direction: row; width: 100vw; gap: 0.5rem">
  <playing-card suit="hearts" rank="ten" [style]="'display: block;min-height: 10rem;min-width:8rem'"></playing-card>
  <playing-card suit="hearts" rank="jack" [style]="'display: block;min-height: 10rem;min-width:8rem'"></playing-card>
  <playing-card suit="hearts" rank="queen" [style]="'display: block;min-height: 10rem;min-width:8rem'"></playing-card>
  <playing-card suit="hearts" rank="king" [style]="'display: block;min-height: 10rem;min-width:8rem'"></playing-card>
  <playing-card suit="hearts" rank="ace" [style]="'display: block;min-height: 10rem;min-width:8rem'"></playing-card>
</div>
<router-outlet />
