<div style="display: flex; flex-direction: row; width: 100vw; gap: 0.5rem">
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'ace'"></app-playing-card-wrapper>
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'two'"></app-playing-card-wrapper>
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'three'"></app-playing-card-wrapper>
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'four'"></app-playing-card-wrapper>
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'five'"></app-playing-card-wrapper>
  <app-playing-card-wrapper [suit]="'hearts'" [rank]="'king'"></app-playing-card-wrapper>
</div>
<router-outlet />
